name: Facebook Deals Sync
on:
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Fetch Data
        run: |
          mkdir -p src/data
          curl -L "https://api.apify.com/v2/datasets/0Ah524ZtCtVaMtB92/items?token=${{ secrets.APIFY_API_TOKEN }}&clean=true&format=json" > src/data/deals.json
      - name: Commit and Push
        run: |
          git config --global user.name 'DealFinder-Bot'
          git config --global user.email 'bot@dealfinder.pro'
          git add src/data/deals.json
          git commit -m "Mise a jour automatique" || exit 0
          git push origin main
